# --- Configuración para la Base de Datos (Docker y Python) ---

# Host de la base de datos. Usar 'localhost' para conectar al contenedor Docker.
DB_HOST=localhost

# Nombre de la base de datos que se creará.
DB_NAME=erp

# Usuario y contraseña que se crearán para la aplicación.
DB_USER=root
DB_PASSWORD=

# Contraseña para el usuario 'root' de la base de datos en Docker.
DB_ROOT_PASSWORD=root_password